<!DOCTYPE html>
<html lang="en" ng-app="converter-ts">

<head>
  <meta charset="utf-8">
  <title>ConverterTS</title>
  <link rel="stylesheet" href="style/styles.css">
</head>

<body>
  <h1>Hello world</h1>

  <div class="settings" ng-controller="SettingsCtrl as settings">
    <label>Name:
      <input type="text" ng-model="settings.contact.name" />
    </label>
    <button ng-click="settings.greet()">greet</button>
    <br/> Contact:
    <ul>
      <li ng-repeat="contact in settings.contact.info">
        <select ng-model="contact.type" aria-label="Contact method" id="select_{{$index}}">
          <option>phone</option>
          <option>email</option>
        </select>
        <input type="text" ng-model="contact.value" aria-labelledby="select_{{$index}}" />
        <button ng-click="settings.cleanInfo(contact)">clear</button>
        <button ng-click="settings.removeInfo(contact)" aria-label="Remove">X</button>
      </li>
      <li>
        <button ng-click="settings.addInfo()">add</button>
      </li>
    </ul>
  </div>

  <script src="node_modules/angular/angular.js"></script>
  <script src="build/app.js"></script>
</body>

</html>
